@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	user-select: none;
}

.interact-none {
	user-select: none;
	pointer-events: none;
}

img {
	max-width: none;
	max-height: none;
}

html {
	@apply bg-black;
}
